   {% include 'publicheader.html'%}
 <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url(static/assets/img/slide/slide-1.jpg);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Cycle Sharing</span></h2>
                  <p class="animate__animated animate__fadeInUp">The bicycle is a curious vehicle. Its passenger is its engine.</p>
               <a href="login" class="btn-get-started scrollto animate__animated animate__fadeInUp">Login</a>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style="background-image: url(static/assets/img/slide/slide-2.jpg);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Cycle Sharing</h2>
                <p class="animate__animated animate__fadeInUp">You can say that climbers suffer the same as the other riders, but they suffer in a different way. You feel the pain, but you’re glad to be there.</p>
                <a href="login" class="btn-get-started scrollto animate__animated animate__fadeInUp">Login</a>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item" style="background-image: url(static/assets/img/slide/slide-3.jpg);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Cycle Sharing</h2>
               <p class="animate__animated animate__adeInUp">Riding a bike is everything to a cyclist. The friendship and camaraderie you have with other cyclists… to a cyclist, it was the be-all and end-all of your life..</p>
                <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Read More</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon ri-arrow-left-line" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon ri-arrow-right-line" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->
         {% include 'footer.html'%}   