   {% include 'publicheader.html'%}
 <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url(/static/assets/img/slide/slide-1.jpg);">
            <div class="carousel-container">
              <div class="carousel-content">
                
  <center>
	<h2>Login</h2>
	<form method="post">
		<table class="table" style="width: 500px;color: white">
			<tr>
				<th>User Name</th>
				<td><input type="text" class="form-control" required=""  name="uname"></td>
			</tr>
			<tr>
				<th>Password</th>
				<td><input type="password" class="form-control" required=""  name="pwd"></td>
			</tr>
			<tr>
				<td align="center" colspan="2"><input type="submit" class="btn btn-success" name="login"></td>
			</tr>

				<tr>
			<td><a href="changepassword">Change Password</a></td>
		</tr>
		</table>
	</form>
</center> 

              </div>
            </div>
          </div>

      </div></div></div></section>
                              
          
          {% include 'footer.html'%}             