{% include 'publicheader.html'%} 


 <section id="hero" style="height: 1000px">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url(/static/assets/img/slide/slide-1.jpg);height: 1000px">
            <div class="carousel-container">
              <div class="carousel-content">                                 
<center>
	<h2> Registration</h2>
	<form method="post">
		<table  class="table" style="width: 500px;color: white">
			<tr>
				<th>First Name</th>
				<td><input type="text" class="form-control" required="" name="fname"></td>
			</tr>
			<tr>
				<th>Last Name</th>
				<td><input type="text" class="form-control" required=""  name="lname"></td>
			</tr>
			
			<tr>
				<th>City</th>
				<td><input type="text" class="form-control" required=""  name="city"></td>
			</tr>
			<tr>
				<th>Address</th>
				<td><textarea name="add" class="form-control" required="" ></textarea></td>
			</tr>

			<tr>
				<th>Street</th>
				<td><input type="text" class="form-control" required=""  name="street"></td>
			</tr>
			
			<tr>
				<th>User Name</th>
				<td><input type="text" class="form-control" required="" name="uname"></td>
			</tr>
			<tr>
				<th>Password</th>
				<td><input type="password" class="form-control" required=""  name="pwd"></td>
			</tr>
			<tr>
				<td align="center" colspan="2"><input type="submit" class="btn btn-success" name="owner"></td>
			</tr>
		</table>
	</form>
</center>
</div></div></div></div></div></div></section>
{% include 'footer.html'%}